<div class="container">
<%= paginate @blogs, window: 2 %>
	<% @blogs.each do |blog| %>
		<h3><%= link_to blog.title, blog_path(blog) %></h3>
		<h4><%= blog.catagory %></h4>
		<h5><%= blog.description %></h5>
		<p><%= blog.body %></p>
		<%= link_to blog.status, toggle_status_blog_path(blog) if logged_in?(:admin) %><br><hr>
	<% end %>
	<%= paginate @blogs, window: 2 %>
</div>