<div class="page-container blog-body">
	<div class="row">
	<div class="col-9">
		<div id="blog-general-anchor"></div>
		<div class="container">
		<h1 class="blog-section-title">General Blogs:</h1>
			<% @blogs.where(catagory: "General").each do |a| %>
				<div class="card blog-card-styles">
				  <div class="card-block">
				    	<h4 class="card-title"><%= link_to a.title, blog_path(a) %></h4>
				    	<h6 class="card-subtitle">Blog Category: <%= a.catagory %></h6><hr>
				    	<p class="card-text"><%= a.description %></p>
				    	<p class="card-text"><%= a.body.truncate(100) %><%= link_to "Read More...", blog_path(a) %></p>
				    	<p class="card-text"><%= link_to a.status, toggle_status_blog_path(a) if logged_in?(:admin) %> </p>
				  </div>
				</div>
			<% end %>
		</div>

		<div id="blog-tax-anchor"></div>
		<div class="container">
		<h1>Tax Blogs:</h1>
			<% @blogs.where(catagory: "Tax").each do |b| %>
				<div class="card blog-card-styles">
				  <div class="card-block">
				    	<h4 class="card-title"><%= link_to b.title, blog_path(b) %></h4>
				    	<h6 class="card-subtitle"><%= b.catagory %></h6><hr>
				    	<p class="card-text"><%= b.description %></p>
				    	<p class="card-text"><%= b.body.truncate(100) %><%= link_to "Read More...", blog_path(b) %></p>
				    	<p class="card-text"><%= link_to b.status, toggle_status_blog_path(b) if logged_in?(:admin) %> </p>
				  </div>
				</div>
			<% end %>
		</div>

		<div id="blog-entities-anchor"></div>
		<div class="container">
		<h1>Entity Blogs:</h1>
			<% @blogs.where(catagory: "Entities").each do |c| %>
				<div class="card blog-card-styles">
				  <div class="card-block">
				    	<h4 class="card-title"><%= link_to c.title, blog_path(c) %></h4>
				    	<h6 class="card-subtitle"><%= c.catagory %></h6><hr>
				    	<p class="card-text"><%= c.description %></p>
				    	<p class="card-text"><%= c.body.truncate(100) %><%= link_to "Read More...", blog_path(c) %></p>
				    	<p class="card-text"><%= link_to c.status, toggle_status_blog_path(c) if logged_in?(:admin) %> </p>
				  </div>
				</div>
			<% end %>
		</div>

		<div id="blog-estate-anchor"></div>
		<div class="container">
		<h1>Estate Blogs:</h1>
			<% @blogs.where(catagory: "Estate Planning").each do |d| %>
				<div class="card blog-card-styles">
				  <div class="card-block">
				    	<h4 class="card-title"><%= link_to d.title, blog_path(d) %></h4>
				    	<h6 class="card-subtitle"><%= d.catagory %></h6><hr>
				    	<p class="card-text"><%= d.description %></p>
				    	<p class="card-text"><%= d.body.truncate(100) %><%= link_to "Read More...", blog_path(d) %></p>
				    	<p class="card-text"><%= link_to d.status, toggle_status_blog_path(d) if logged_in?(:admin) %> </p>
				  </div>
				</div>
			<% end %>
		</div>

		<div id="blog-credit-anchor"></div>
		<div class="container">
		<h1>Corporate Credit Blogs:</h1>
			<% @blogs.where(catagory: "Corporate Credit").each do |e| %>
				<div class="card blog-card-styles">
				  <div class="card-block">
				    	<h4 class="card-title"><%= link_to e.title, blog_path(e) %></h4>
				    	<h6 class="card-subtitle"><%= e.catagory %></h6><hr>
				    	<p class="card-text"><%= e.description %></p>
				    	<p class="card-text"><%= e.body.truncate(100) %><%= link_to "Read More...", blog_path(e) %></p>
				    	<p class="card-text"><%= link_to e.status, toggle_status_blog_path(e) if logged_in?(:admin) %></p>
				  </div>
				</div>
			<% end %>
		</div>
		</div>
			<div class="col-2">
			<h1 class="blog-section-title">Blog Index:</h1>
				<div class="card blog-index-card">
					<div class="card-block">
						<div class="blog-index">
							<%= link_to "General Information", "#blog-general-anchor" %><br>
							<%= link_to "Tax Codes & Updates", "#blog-tax-anchor" %><br>
							<%= link_to "Entity Secrets", "#blog-entities-anchor" %><br>
							<%= link_to "Estate Planning", "#blog-estate-anchor" %><br>
							<%= link_to "Corporate Credit", "#blog-credit-anchor" %> 
						</div>
					</div>
				</div>
			</div>
			<div class="col-1"></div>
		</div>
	</div>