<a href="/"><img class="logo-nav-img" src="https://s3-us-west-2.amazonaws.com/primecorpservices/Logo1.png"></a>
<ul class="nav nav-link-styles">
  <% if logged_in?(:user) %>
    <li class="nav-item">
      <%= link_to "Video Tutorials", dashboards_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Prime Blog", blogs_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Reviews", reviews_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "FAQ", faq_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Logout", destroy_user_session_path, class: "nav-link", method: :delete %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </li>
  <% end %>
  <% if logged_in?(:admin) %>
    <li class="nav-item">
      <%= link_to "Upload Video", new_dashboard_path, class: "nav-link" %> 
    </li>
    <li class="nav-item">
      <%= link_to "New Blog", new_blog_path, class: "nav-link" %> 
    </li>
  <% end %>
</ul>





  