<div class="container page-container">
	<div class="container">
		<%= render "shared/generalfaq" %>
	</div>

	<div class="container">
		<%= render "shared/llcfaq" %>
	</div>

	<div class="container">
		<%= render "shared/corpfaq" %>
	</div>

	<div class="container">
		<%= render "shared/taxfaq" %>
	</div>

	<div class="container">
		<%= render "shared/corpcreditfaq" %>
	</div>

	<div class="container">
		<%= render "shared/estatefaq" %>
	</div>
</div>