<div class="page-container home-page">
	<%= render "shared/carousel" %>

	<div class="container services-home-page">
		<div class="row">
			<div class="col-6">
				<%= render "shared/blogcarousel" %>
			</div>
			<div class="col-6">
				<h2>This will be a brief title</h2>
				<h5>This will be a brief explination of what they will find in the blogs</h5>
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				<h2>This will be a brief video title</h2>
				<h5>This will be a brief explination of what they will find in the videos</h5>
			</div>
			<div class="col-6">
				<%= render "shared/videocarousel" %>
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				<%= render "shared/reviewcarousel" %>
			</div>
			<div class="col-6">
				<h2>This will be a brief review title</h2>
				<h5>This will be a brief explination of what they will find in the reviews with a button to leave a review</h5>
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				<h2>This will be a brief webinar title</h2>
				<h5>This will be a brief explination of what they will find in the webinars</h5>
			</div>
			<div class="col-6">
				<%= render "shared/webinarcarousel" %>
			</div>
		</div>
	</div>
</div>