<div class="container blog-background-color">
<%= render "average" %>
	<div class="row blog-form-container">
		<div class="container">
			<%= form_for @review do |f| %>
			<div class="blog-form-padding">
				<%= f.text_field :full_name, placeholder: "First & Last Name", class: "form-control blog-field-styes" %>
			</div>
			<div class="blog-form-padding">
				<%= f.text_field :service_purchased, placeholder: "What service are we helping you with?", class: "form-control blog-field-styes" %>
			</div>
			<div class="blog-form-padding">
				<%= f.text_field :body, placeholder: "Tell us about your experience!", class: "form-control blog-field-styes" %>
			</div>
			<div class="rating">
				<h2>Please Rate Our Service:</h2>
				  <%= f.radio_button(:rating, 1) %> <%= f.label(:rating.to_s + "_1", "1 Star", class: "radio-btn") %> 
				  <%= f.radio_button(:rating, 2) %> <%= f.label(:rating.to_s + "_2", "2 Stars", class: "radio-btn") %> 
				  <%= f.radio_button(:rating, 3) %> <%= f.label(:rating.to_s + "_3", "3 Stars", class: "radio-btn") %> 
				  <%= f.radio_button(:rating, 4) %> <%= f.label(:rating.to_s + "_4", "4 Stars", class: "radio-btn") %> 
				  <%= f.radio_button(:rating, 5) %> <%= f.label(:rating.to_s + "_5", "5 Stars", class: "radio-btn") %>
			</div>
			<div class="blog-form-padding-btn">	
				<%= f.submit "Submit", class: "btn btn-primary form-control blog-btn" %>
			</div>
			<% end %>
		</div>
	</div>
</div>

